{% extends "../base.html" %}
{% block content %}
<h1>Game between you and {{ player_two_name }}</h1>

<h2>Your hand</h2>
<p>{{ card_count }} cards</p>
{% if your_hand %}
<ul>
{% for card in your_hand %}
  <li><a href="/game/{{ game_name }}/discard/{{ card }}">{{ card }}</a></li>
{% endfor %}
</ul>
{% else %}
  Empty
{% endif %}

<h2>Game info</h2>
<dl>
  <dt>Discard pile</dt>
  <dd>
  {% if top_of_discard %}
    <a href="/game/{{ game_name }}/discard_draw">{{ top_of_discard }}</a>
  {% else %}
    Empty
  {% endif %}
  </dd>

  <dt>Library</dt>
  <dd><a href="/game/{{ game_name }}/library_draw">{{ deck_size }} cards</a></dd>
  <dt>{{ player_two_name }}'s hand</dt>
  <dd>{{ opponent_size }} cards</dd>
</dl>

{% endblock %}
