{% extends "../base.html" %}

{% block javascript %}
<script src="/scripts/application.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<h1>Game between you and {{ player_two_name }}</h1>
<p>
  {{ player_two_name }} can join the game by visiting:<br />
  <code>http://localhost:8000/game/{{ game_name }}</code>
</p>

<div id="main">

  <div id="chat">
    <h2>Chat</h2>
    <ul id="chat_messages"></ul>
    <form action="/game/{{ game_name }}/broadcast" method="post">
      <input type="text" name="message" id="message" />
      <input type="submit" value="Send" />
    </form>
  </div>

  <h2>Game info</h2>
  <dl>
    <dt>Discard pile</dt>
    <dd>
    {% if top_of_discard %}
      <a href="/game/{{ game_name }}/discard_draw" id="discard">{{ top_of_discard }}</a>
    {% else %}
      <a href="/game/{{ game_name }}/discard_draw" id="discard">Empty</a>
    {% endif %}
    </dd>

    <dt>Library</dt>
    <dd>
      <a href="/game/{{ game_name }}/library_draw" id="library">
        <span id="deck_size">{{ deck_size }}</span> cards
      </a>
    </dd>
    <dt>{{ player_two_name }}'s hand</dt>
    <dd><span id="opponent_size">{{ opponent_size }}</span> cards</dd>
  </dl>

  <h2>Your hand</h2>
  <p><span id="player_size">{{ card_count }}</span> cards</p>
  <ul id="player_cards">
  {% for card in your_hand %}
    <li><a href="/game/{{ game_name }}/discard/{{ card }}" class="card">{{ card }}</a></li>
  {% endfor %}
  </ul>

  <h2>Instructions</h2>
  <p>
  You can draw from the library by pressing the l key. Or from the discard pile by pressing the d key. You can prefix these commands with digits to multiply the number of times they happen. Hitting escape will clear the digits. For example you could type "3, ESC, 1, 0, l" to draw 10 cards from the library. But only if you don't have the text box selected.
  </p>

</div>

{% endblock %}
