{% extends "../base.html" %}

{% block content %}
<div id="chat-container">

  <h2>Chat & Log</h2>

  <div id="chat">
    <div id="scroller">
      <ul id="chat_messages">
        <li>{{ player_two_name }} can join the game by visiting:<br />http://ginrummy.logaan.net/game/{{ game_name }}</li>
      </ul>
    </div>
  </div>

  <div class="pad-bottom"></div>

  <div class="tear"></div>

  <form action="/game/{{ game_name }}/broadcast" method="post">
    <input type="text" name="message" id="chat-field" />
    <button>send</button>
  </form>

</div>


<div id="their-hand">

  <h2>Their Hand</h2>

  <ul class="cards">

    <li class="empty"><a></a></li>
    <li class="empty"><a></a></li>
    <li class="empty"><a></a></li>
    <li class="empty"><a></a></li>
    <li class="empty"><a></a></li>
    <li class="empty"><a></a></li>
    <li class="empty"><a></a></li>
    <li class="empty"><a></a></li>
    <li class="empty"><a></a></li>
    <li class="empty"><a></a></li>
    <li class="empty"><a></a></li>

  </ul>

</div>


<div id="common-cards">

  <div id="deck">
    <a href="#">Unknown</a>
    <h2>Deck</h2>
    <span class="remaining">{{ deck_size }} Remaining</span>
  </div>

  <div id="discard">

    <a href="#" class="empty">
      <span class="value"></span>
      <span class="suit"></span>
    </a>

    <h2>Discard Pile</h2>

    <span class="remaining">32 Card</span>

  </div>


</div>


<div id="your-hand">

  <h2>Your Hand</h2>

  <ul class="sort">
    <li class="value {{ value_sort_selected }}"><a href="">value</a></li>
    <li class="suit {{ suit_sort_selected }}"><a href="">suit</a></li>
    <li class="none {{ no_sort_selected }}"><a href="">none</a></li>
  </ul>

  <ul class="cards">
    <li class="empty"><a href="">Empty Space</a></li>
    <li class="empty"><a href="">Empty Space</a></li>
    <li class="empty"><a href="">Empty Space</a></li>
    <li class="empty"><a href="">Empty Space</a></li>
    <li class="empty"><a href="">Empty Space</a></li>
    <li class="empty"><a href="">Empty Space</a></li>
    <li class="empty"><a href="">Empty Space</a></li>
    <li class="empty"><a href="">Empty Space</a></li>
    <li class="empty"><a href="">Empty Space</a></li>
    <li class="empty"><a href="">Empty Space</a></li>
    <li class="empty"><a href="">Empty Space</a></li>
  </ul>

</div>

<div id="reveal-all">

  <a href="">Reveal All</a>

</div>

<!--a id="information-icon">Information</a>

<div id="information">

  <h2>Information</h2>

  <p>Vivamus molestie feugiat risus at imperdiet. Curabitur nunc erat, imperdiet a consectetur sit amet, lobortis at purus. Donec rhoncus molestie semper. Proin posuere bibendum convallis. Integer elementum odio eu sem suscipit a fringilla libero consectetur. Morbi pharetra ante a enim suscipit gravida. Maecenas non posuere erat. Cras molestie commodo sollicitudin. Nam tortor sem, laoreet eu tristique in, semper vitae tellus. Integer congue urna in augue varius condimentum. </p>
  <p>Vivamus molestie feugiat risus at imperdiet. Curabitur nunc erat, imperdiet a consectetur sit amet, lobortis at purus. Donec rhoncus molestie semper. Proin posuere bibendum convallis. Integer elementum odio eu sem suscipit a fringilla libero consectetur. Morbi pharetra ante a enim suscipit gravida. Maecenas non posuere erat. Cras molestie commodo sollicitudin. Nam tortor sem, laoreet eu tristique in, semper vitae tellus. Integer congue urna in augue varius condimentum. </p>

</div-->

{% endblock %}
